<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyDaoTao_Nhom2.Properties.Settings.QUANLY_DAOTAO_NHOM2ConnectionString"
            connectionString="Data Source=ZEF\SQLEXPRESS;Initial Catalog=QUANLY_DAOTAO_NHOM2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>