<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="QuanLyDaoTao_Nhom2.Properties.Settings.QUANLY_DAOTAO_NHOM2ConnectionString" connectionString="Data Source=ZEF\SQLEXPRESS;Initial Catalog=QUANLY_DAOTAO_NHOM2;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="NHOM2_QUANLY_DAOTAOEntities" connectionString="metadata=res://*/DBConnect.csdl|res://*/DBConnect.ssdl|res://*/DBConnect.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PHANHUUHIEU\SQLEXPRESS;initial catalog=NHOM2_QUANLY_DAOTAO;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>